body {
  font-size: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

a:link {
  text-decoration: none;
  margin-left: 0em;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  font-weight: 400;	
  color: black;
}

a:visited  {
  text-decoration: none;
  color: black;
} 

a:active {
  text-decoration: none;
  color: black;
} 

a:hover {
  text-decoration: none;
  # background-color: blue;
  color: grey;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-style: initial;
  font-weight: 700;
}

footer {
  font-size: 70%;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-left: 5em;
}
